@use "../helpers/variables" as *;

.divv{
  position: relative;
  position: fixed;
  right: 10px;
  bottom: 55px;
  background-color: $btn-color;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: .5s;
  border: none;
  cursor: pointer;
  display: none;
  .upicon{
    position: fixed;
    position: absolute;
    right:  15px;
    bottom: 10px;
    color: $btn-color-hover;
    display: none;
    z-index: 1;
    font-size: 0.8rem;
    transition: .5s;
  }
}
.divv:hover{
  &{
    background-color: $main-color-head;
    transition: .5s;
  }
  .upicon{
    color: $btn-color-hover;
    transition: .5s;
  }
}