@use "../helpers/variables" as *;
@use "../helpers/keyframes" as *;
.TypeWrite {
  position: relative;
  color: $main-color-head;
  &::after {
    content: "";
    position: absolute;
    border-right: 3px solid $btn-color;
    height: 60%;
    top: 25%;
    animation: blink 0.8s ease-in-out infinite;
    -webkit-animation: blink 0.8s ease-in-out infinite;
  }
}
