@use "../helpers/variables" as *;
@use "../helpers/keyframes" as *;
.TypeWrite {
  position: relative;
  color: $main-color-head;
  &::after {
    content: "";
    position: absolute;
    border-right: 3px solid $main-color-head;
    height: 90%;
    top: 10%;
    animation: blink 0.8s ease infinite;
    -webkit-animation: blink 0.8s ease infinite;
}
}
